.main {
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  height: 100vh;   
  width: 100%;
  padding: 150px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 600px;
  height: 300px;
  margin: 0 auto;
   background-color: rgba(99,0,11, .3);
  border: 1px solid #fff08e;
  border-radius: 10px;
  font-size: 40px;
  text-transform: none;
}

.btn-start:active,
.btn-start{
  text-decoration: none;
  color: #fff;
}

.btn-start:hover{
  color: #ffdf00;
  cursor: pointer;
}

.btn-start{  
  display: block;
  margin: 50px auto 0;
  width: 320px;
  padding: 30px 0;
  background-color: rgba(99,0,11, .3);
  border: 1px solid #fff08e;
  border-radius: 10px;
  text-align: center;
  font-size:32px;
  font-weight: bold;
}

