.main {
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 600px;
  height: 300px;
  margin: 200px auto 0;
  background-color: rgba(31, 112, 127, .3);
  border:3px solid #278D9F;
  border-radius: 20px;
  font-size: 40px;
  text-transform: none;
}

.btn-start{
  display: block;
  margin: 50px auto 0;
  width: 320px;
  height: 60px;
  font: inherit;
  color: inherit;
  background-color: rgba(31, 112, 127, .3);
  border:3px solid #278D9F;
  border-radius: 20px;
  text-transform: inherit;
}