.toys-list-tree{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
   padding: 20px;
  background-color: rgba(99,0,11, .3);
  border: 1px solid #fff08e;
  border-radius: 10px;
}

.toy{
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
}

.toy-img{
  position: absolute;
  top:10px;
  left: 10px;
   width: 60px;
  height: 60px;
}

.count{
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  color: black;
  background-color: #fff08e;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
}

.hide{
  display: none;
}