* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  
  background: url("./assets/bg-1.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}