.resetBtn {
  display: block;
  margin: 20px auto;
  padding: 20px 50px;
  background-color: rgba(99,0,11);
  border: 1px solid #fff08e;
  border-radius: 10px;
  color:#fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.sort {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background-color: rgba(99,0,11, .3);
  border: 1px solid #fff08e;
  border-radius: 10px;
}

.sort > div {
  padding: 10px;
}