.tree{
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:20px;
}

.toys-container{
  width: 500px;
  height: 100%;
}

@media (max-width: 1800px){
  
  .toys-container{
    width: 300px;
  }
}

@media (max-width: 1800px){
  .toys-container{
    width: 700px;
  }

}