.setting{
  width: 350px;
}

.sound-container {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
   padding: 20px;
  background-color: rgba(99,0,11, .3);
  border: 1px solid #fff08e;
  border-radius: 10px;
 
}
/* 
.sound,
.snow {
  width: 30px;
  height: 30px;
} */

.sound-container [type="checkbox"],
.choosing-garland [type="checkbox"]{
  display: none;
}

.sound-container span ,
.choosing-garland span{
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; 
  height:100%;
  cursor: pointer;
    margin:0;
  background-size: 40px 40px; 
  background-repeat: no-repeat;
}

.sound-container label, 
.choosing-garland label{
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
}


.sound-container input[type="checkbox"]:checked + span {
  filter: brightness(0) saturate(100%) invert(79%) sepia(54%) saturate(858%) hue-rotate(359deg) brightness(104%) contrast(104%);
}

.sound{
  background-image: url('../../../../assets/svg/audio.svg');
}

.snow{
  background-image: url('../../../../assets/svg/snowflake.svg');
}

.choosing-bg,
.choosing-tree,
.choosing-garland{
  margin: 10px 0;
    padding: 20px;
  background-color: rgba(99,0,11, .3);
  border: 1px solid #fff08e;
  border-radius: 10px;
}

.background-container,
.tree-icon-container,
.garland-container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.background{
  width:65px;
 height: 65px;
 background-size: 65px 65px;
 background-repeat: no-repeat;
 border-radius: 50%;
 border: 1px solid #fff;
}

.tree-icon{
  width:65px;
 height: 85px;
 background-size: 65px 85px;
 background-repeat: no-repeat;
}



.background-image{
  width: 100%;
  height: auto;
}
.choosing-garland span{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.red{
  background-color: #ff0000;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgb(255 0 0 / 50%) 0 2px 12px;
}

.blue{
  background-color: #00f;
   box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #09004e 0 -1px 9px, rgba(39, 230, 255, 0.5) 0 2px 12px;
}

.yellow{
  background-color: #ff0;
   box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #818a00 0 -1px 9px, rgba(255, 245, 153, 0.5) 0 2px 12px;
}

.white{
  background-color: #fff;
   box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 255, 255, 0.5) 0 2px 12px;
}


.violet{
  background-color: #8f00ff;
   box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #470542 0 -1px 9px, rgba(249, 184, 255, 0.5) 0 2px 12px;
}

.multicolored{
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
   box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgb(255 0 0 / 50%) 0 2px 12px;
}

.off {
  background-color: black;
}

@media (max-width: 1300px){
  .setting{
    width: 700px;
  }
}