.main{
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
  display: flex;
  gap:20px;

}
.setting {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.filter-value,
.filter-range ,
.sort {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background-color: rgba(31, 112, 127, .3);
  border: 1px solid #278D9F;
  border-radius: 5px;
}

.setting input[type="checkbox"]{
  display: none;
}

.filter-value span{
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; height: 100%;
  cursor: pointer;
}

.shape,
.color,
.size,
.favorite-container{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.shape label,
.color label,
.size label,
.favorite-container label {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
}

.shape span {
  background-size: 40px 40px; 
}

.color span,
.favorite-container span {
 margin: 5px;
 width: 30px;
 height: 30px;
}

.name {
  text-transform: none;
}

.shape input[type="checkbox"]:checked + span,
.size input[type="checkbox"]:checked + span {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.color input[type="checkbox"]:checked + span::after,
.favorite-container input[type="checkbox"]:checked + span::after{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid #1e6f7e;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.round{
  background-image: url('../../../assets/svg/ball.svg');
}

.bell{
  background-image: url('../../../assets/svg/bell.svg');
}

.cone {
  background-image: url('../../../assets/svg/cone.svg');
}

.snowflake {
  background-image: url('../../../assets/svg/snowflake.svg');
}

.figurine{
  background-image: url('../../../assets/svg/toy.svg');
}

.white {
  background-color: #fff;
}
.yellow{
  background-color: #FDD700;
}

.red{
  background-color: #FD0000;
}
.blue{
  background-color: #2199EB;
}
.green{
  background-color: #08AA05;
}

.size span{
  background-image: url('../../../assets/svg/ball.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.small {
  background-size: 32px 32px;
}
.middle{
      background-size: 36px 36px;
}

.big{
      background-size: 40px 40px;
}

.favorite-container span{
  border: 1px solid #278D9F;
  border-radius: 5px;
}

.toys{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-transform:none;
}


.popup {
  position: fixed;
  width: 80%;
  height: 200px;
  top: 300px;
  left: 10%;
  background-color: red
}

.toy-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 304px;
  height: 280px;
  padding: 10px;
  border: 1px solid #278D9F;
  border-radius: 5px;
  background-color:rgba(31, 112, 127, .3);
}

.toy-item p {
  margin: 10px 0;
}

.container-image{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.toy-star  {
  width: 50px;
  height: auto;
}

.toy-img{
  width: 90px;
  height: 112px;
  object-fit: contain;
}

.toy-star.selected{
  filter:invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.title{
  width: 100%;
  font-size: 20px;
  font-stretch: condensed;
  font-weight: bold;
}

.range-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.range-wrap{ 
  position: relative;
  width: 80%;
}

.range-bar{
  width: 100%;
  height: 2px;
  background-color:red
}

.range-wrap input{
  display: block;
  position: absolute;
  top:0;
  left:0;
  height: 2px;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background-color:inherit
}

.range-wrap input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #ffffff;
  border-radius: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}
input[type="range"]::-ms-thumb {
  pointer-events: all;
}