.main{
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
  margin-top: 150px;
  display: flex;
  gap:20px;
}
.setting {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
